<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-primary">
                        <li class="breadcrumb-item active text-white" aria-current="page">Dashboard DataGuard</li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0 pt-0 pb-2 background">
                <div class="table-responsive p-0">

                    <div class="btn btn-secondary btn-lg w-25 a" aria-current="page"><span style="margin-right: 10px;">
                            Les
                            utilisateurs </span><i class="fas fa-user"></i> </div>

                    <div class="conteneur">
                        <br>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">Tous
                            Les utilisateurs</button>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;"><a
                                routerLink="/DashboardAdmin/liste_administrateurs"> Les
                                administrateurs</a></button>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">
                            Les
                            décideurs</button>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">
                            Les
                            analystes</button>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">
                            Les
                            auditeurs</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card mb-4">


            <div class="card-body px-0 pt-0 pb-2 background">
                <div class="table-responsive p-0">

                    <div class="btn btn-secondary btn-lg w-30 a" aria-current="page"><span style="margin-right: 10px;">
                            Gérer les entreprises</span><i class="fas fa-user"></i> </div>

                    <div class="conteneur">
                        <br>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">
                            Les entreprises</button>
                    </div>
                    <br><br>
                    <div class="btn btn-secondary btn-lg w-30 a" aria-current="page"><span style="margin-right: 10px;">
                            Gérer les organisations</span><i class="fas fa-user"></i> </div>

                    <div class="conteneur">
                        <br>
                        <button type="button" class="btn btn-secondary btn-lg w-30" style="border-radius: 50px;">
                            Les organisation</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>