<div class="alert alert-success" role="alert">
    <h4 style="align-items: center;" class="alert-heading">Félicitations !</h4>
    <p style="align-items: center;">Vous êtes désormais un auditeur DataGuard</p>
    <hr class="border" style="align-items: center;">
    <p class="mb-0" style="align-items: center;"> Votre identifiant :
        <span style="color: brown;">{{Identifiant}}</span>
    </p>
    <br>
    <br>
    <div class="d-grid d-lg-block my-3 my-lg-0 ms-0 ms-lg-4">
        <a routerLink="/login" class="btn btn-telegram">
            Se connecter
        </a>
    </div>

</div>