<!--Skippy-->
<a id="skippy" class="visually-hidden-focusable" href="#content">
    <div class="container">
        <span class="skiplink-text">Skip to main content</span>
    </div>
</a>

<!-- progress scroll -->
<progress id="progress-bar" class="progress-one" max="100">
    <span class="progress-container">
        <span class="progress-bar"></span>
    </span>
</progress>

<!-- ========== { HEADER }==========  -->
<header>


</header><!-- end header -->

<!-- =========={ MAIN }==========  -->
<main id="content">
    <!-- =========={ HERO }==========  -->
    <div id="hero" class="section py-6 py-md-7 jarallax overflow-hidden">
        <!-- background parallax -->
        <img class="jarallax-img" src="src/img-min/bg/bg-planet.jpg" alt="title">
        <!-- background overlay -->
        <div class="overlay bg-primary opacity-90 z-index-n1"></div>

        <!-- rocket moving up animation -->
        <div class="particle">
            <div class="particle-move-up d-none d-lg-block particle-move-up-1 text-light z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="2rem" height="2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up particle-move-up-2 text-light z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1rem" height="1rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up d-none d-sm-block particle-move-up-3 text-light z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1.2rem" height="1.2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up d-none d-xl-block particle-move-up-4 text-light z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1rem" height="1rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up d-none d-sm-block particle-move-up-5 text-light z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1.2rem" height="1.2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up border-success text-light particle-move-up-6 z-index-n1 opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="2rem" height="2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up particle-move-up-7 z-index-n1 text-light opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1.2rem" height="1.2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up particle-move-up-8 z-index-n1 text-light opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="1.2rem" height="1.2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <div class="particle-move-up particle-move-up-9 z-index-n1 text-light opacity-60">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-315" width="2rem" height="2rem"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M461.81,53.81a4.4,4.4,0,0,0-3.3-3.39c-54.38-13.3-180,34.09-248.13,102.17a294.9,294.9,0,0,0-33.09,39.08c-21-1.9-42-.3-59.88,7.5-50.49,22.2-65.18,80.18-69.28,105.07a9,9,0,0,0,9.8,10.4l81.07-8.9a180.29,180.29,0,0,0,1.1,18.3,18.15,18.15,0,0,0,5.3,11.09l31.39,31.39a18.15,18.15,0,0,0,11.1,5.3,179.91,179.91,0,0,0,18.19,1.1l-8.89,81a9,9,0,0,0,10.39,9.79c24.9-4,83-18.69,105.07-69.17,7.8-17.9,9.4-38.79,7.6-59.69a293.91,293.91,0,0,0,39.19-33.09C427.82,233.76,474.91,110.9,461.81,53.81ZM298.66,213.67a42.7,42.7,0,1,1,60.38,0A42.65,42.65,0,0,1,298.66,213.67Z"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <path class="text-warning" fill="currentColor"
                        d="M109.64,352a45.06,45.06,0,0,0-26.35,12.84C65.67,382.52,64,448,64,448s65.52-1.67,83.15-19.31A44.73,44.73,0,0,0,160,402.32"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
        </div>
    </div><!-- End hero -->

    <!-- =========={ login }==========  -->
    <div id="login-area" class="section pb-5 pb-md-6 border-top bg-light-dark">
        <div class="container">
            <div class="row justify-content-center">
                <!-- login form -->
                <div class="col-md-8 col-lg-7 px-5" data-aos="fade-up">
                    <div class="position-relative mt-n7">
                        <div class="p-5 rounded-3 bg-body shadow-sm">

                            <!-- Formulaire organisation-->
                            <form id="login-form" class="needs-validation" [formGroup]="FormAjoutOrganisation"
                                (ngSubmit)="onSubmitOrganisation()">
                                <h1 class="h3 mb-4 text-center">Enregistrez votre organisation</h1>
                                <hr class="divider my-4 mx-auto bg-warning border-warning">

                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="Nom de l'organisation"
                                        formControlName="nom_organisation" [(ngModel)]="organisation1.nomOrganisation"
                                        aria-label="full name" type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjoutOrganisation.controls['nom_organisation'].errors && (FormAjoutOrganisation.controls['nom_organisation'].dirty || FormAjoutOrganisation.controls['nom_organisation'].touched)">
                                        <div *ngIf="FormAjoutOrganisation.controls['nom_organisation'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le nom de l'organisation est
                                            obligatoire !</div>
                                        <div *ngIf="FormAjoutOrganisation.controls['nom_organisation'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">Le nom doit
                                            comporter un maximum de 130 caractères.</div>
                                        <div *ngIf="FormAjoutOrganisation.controls['nom_organisation'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Le nom de l'organisation
                                            est
                                            invalide !
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>
                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="Pays de l'organisation"
                                        formControlName="pays_organisation" [(ngModel)]="organisation1.paysOrganisation"
                                        aria-label="full name" type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjoutOrganisation.controls['pays_organisation'].errors && (FormAjoutOrganisation.controls['pays_organisation'].dirty || FormAjoutOrganisation.controls['pays_organisation'].touched)">
                                        <div *ngIf="FormAjoutOrganisation.controls['pays_organisation'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le pays est obligatiore !
                                        </div>
                                        <div *ngIf="FormAjoutOrganisation.controls['pays_organisation'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Valeur invalide !
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>

                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="NIE de l'organisation"
                                        formControlName="NIE_organisation" [(ngModel)]="organisation1.nieOrganisation"
                                        aria-label="full name" type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjoutOrganisation.controls['NIE_organisation'].errors && (FormAjoutOrganisation.controls['NIE_organisation'].dirty || FormAjoutOrganisation.controls['NIE_organisation'].touched)">
                                        <div *ngIf="FormAjoutOrganisation.controls['NIE_organisation'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Veuillez saisir Le numéro
                                            d’identification d’entreprise de votre organisation !</div>
                                        <div *ngIf="FormAjoutOrganisation.controls['NIE_organisation'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">Le NIE de l'organisation est
                                            invalide !</div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>

                                <div class="mb-4">
                                    <!--
                      <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="remember" required>
                        <label class="form-check-label" for="remember">
                          I agree to the <a href="terms.html">Terms and Conditions</a>
                        </label>
                      </div>
                      -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary"> Confirmer <svg
                                                xmlns="http://www.w3.org/2000/svg" class="ms-1" width="1.2rem"
                                                height="1.2rem" fill="currentColor" viewBox="0 0 512 512">
                                                <path
                                                    d="M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                                <polyline points="288 336 368 256 288 176"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                                <line x1="80" y1="256" x2="352" y2="256"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                            </svg></button>
                                    </div>
                                    <div *ngIf="FormAjoutOrganisation.invalid && FormAjoutOrganisation.untouched && tryToSubmitOrganisation"
                                        class="text-danger" style="font-size: small;">Les champs
                                        sont vides
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="reset" class="btn btn-primary"
                                        (click)="resetOrganisation()">Annuler<svg xmlns="http://www.w3.org/2000/svg"
                                            class="ms-1" width="1.2rem" height="1.2rem" fill="currentColor"
                                            viewBox="0 0 512 512">
                                            <path
                                                d="M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336"
                                                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                            <polyline points="288 336 368 256 288 176"
                                                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                            <line x1="80" y1="256" x2="352" y2="256"
                                                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                        </svg></button>
                                </div>
                            </form>
                            <!-- FIN formulaire organisation-->
                            <br><br>

                            <div *ngIf="!OrganisationConfirme" class="text-danger" style="font-size: large;">
                                Veuillez confirmer les informations de votre organisation
                            </div>
                            <br>
                            <!-- Formulaire auditeur-->
                            <form class="needs-validation" [formGroup]="FormAjouterAuditeur"
                                (ngSubmit)="onSubmitAuditeur()">
                                <h1 class="h3 mb-4 text-center">Enregistrez vos informations</h1>
                                <hr class="divider my-4 mx-auto bg-warning border-warning">

                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="Votre nom"
                                        formControlName="nom_auditeur" [(ngModel)]="utilisateur1.nomUtilisateur"
                                        aria-label="full name" type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['nom_auditeur'].errors && (FormAjouterAuditeur.controls['nom_auditeur'].dirty || FormAjouterAuditeur.controls['nom_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['nom_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le nom est
                                            obligatoire!</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['nom_auditeur'].hasError('minlength')"
                                            class="text-danger" style="font-size: small;">Le nom doit
                                            comporter au moins 2 caractères .</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['nom_auditeur'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">Le nom doit
                                            comporter un maximum de 50 caractères.</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['nom_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Le nom est invalide!
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>


                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="Votre prénom"
                                        formControlName="prenom_auditeur" [(ngModel)]="utilisateur1.prenomUtilisateur"
                                        aria-label="full name" type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['prenom_auditeur'].errors && (FormAjouterAuditeur.controls['prenom_auditeur'].dirty || FormAjouterAuditeur.controls['prenom_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['prenom_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le nom est
                                            obligatoire!</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['prenom_auditeur'].hasError('minlength')"
                                            class="text-danger" style="font-size: small;">Le nom doit
                                            comporter au moins 2 caractères .</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['prenom_auditeur'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">Le nom doit
                                            comporter un maximum de 50 caractères.</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['prenom_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Le nom est invalide!
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>


                                <div class="mb-4">
                                    <input name="name" class="form-control"
                                        placeholder="Votre fonction dans l'organisation"
                                        formControlName="fonction_auditeur"
                                        [(ngModel)]="utilisateur1.fonctionUtilisateur" aria-label="full name"
                                        type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['fonction_auditeur'].errors && (FormAjouterAuditeur.controls['fonction_auditeur'].dirty || FormAjouterAuditeur.controls['fonction_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['fonction_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">La fonction est
                                            obligatoire !</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['fonction_auditeur'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">la valeur est trop longue !
                                        </div>
                                        <div *ngIf="FormAjouterAuditeur.controls['fonction_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">La valeur est invalide !
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>


                                <div class="mb-4">
                                    <input name="name" class="form-control"
                                        placeholder="Votre matricule dans l'organisation"
                                        formControlName="matricule_auditeur"
                                        [(ngModel)]="utilisateur1.matriculeUtilisateur" aria-label="full name"
                                        type="text">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['matricule_auditeur'].errors && (FormAjouterAuditeur.controls['matricule_auditeur'].dirty || FormAjouterAuditeur.controls['matricule_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['matricule_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">La matricule est
                                            obligatoire !</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['matricule_auditeur'].hasError('minlength')"
                                            class="text-danger" style="font-size: small;">la matricule est trop courte !
                                        </div>
                                        <div *ngIf="FormAjouterAuditeur.controls['matricule_auditeur'].hasError('maxlength')"
                                            class="text-danger" style="font-size: small;">la matricule est trop longue !
                                        </div>
                                        <div *ngIf="FormAjouterAuditeur.controls['matricule_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">La matricule est invalide !
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>


                                <div class="mb-4">
                                    <input name="name" class="form-control" placeholder="Votre numéro de téléphone"
                                        formControlName="tel_auditeur" [(ngModel)]="utilisateur1.telUtilisateur"
                                        aria-label="full name" type="text">

                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['tel_auditeur'].errors && (FormAjouterAuditeur.controls['tel_auditeur'].dirty || FormAjouterAuditeur.controls['tel_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['tel_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le numéro de téléphone est
                                            obligatoire !</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['tel_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Le numéro de téléphone est
                                            invalide !
                                        </div>
                                    </div>

                                </div>


                                <div class="mb-4">
                                    <input name="email" class="form-control" placeholder="Votre email"
                                        formControlName="email_auditeur" [(ngModel)]="utilisateur1.emailUtilisateur"
                                        aria-label="email" type="email">

                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['email_auditeur'].errors && (FormAjouterAuditeur.controls['email_auditeur'].dirty || FormAjouterAuditeur.controls['email_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['email_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">L'email est
                                            obligatoire!</div>
                                        <div *ngIf="FormAjouterAuditeur.controls['email_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Email invalide!
                                        </div>
                                        <div *ngIf="FormAjouterAuditeur.controls['email_auditeur'].hasError('EmailExiste')"
                                            class="text-danger" style="font-size: small;">L'email existe déjà !
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>


                                <div class="mb-4">
                                    <input class="form-control" placeholder="Tapez votre mot de passe"
                                        aria-label="password" type="password" formControlName="mot_de_passe_auditeur"
                                        [(ngModel)]="utilisateur1.motDePasseUtil">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['mot_de_passe_auditeur'].errors && (FormAjouterAuditeur.controls['mot_de_passe_auditeur'].dirty || FormAjouterAuditeur.controls['mot_de_passe_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['mot_de_passe_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Le mot de passe est
                                            obligatoire!</div>

                                        <div *ngIf="FormAjouterAuditeur.controls['mot_de_passe_auditeur'].hasError('pattern')"
                                            class="text-danger" style="font-size: small;">Le mot de passe doit comporter
                                            au
                                            moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère
                                            spécial.
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->
                                </div>

                                <div class="mb-4">
                                    <input class="form-control" placeholder="Confirmer votre mot de passe"
                                        aria-label="repeat password" type="password"
                                        formControlName="confirm_mot_de_passe_auditeur">
                                    <!-- Controle de saisie-->
                                    <div
                                        *ngIf="FormAjouterAuditeur.controls['confirm_mot_de_passe_auditeur'].errors && (FormAjouterAuditeur.controls['confirm_mot_de_passe_auditeur'].dirty || FormAjouterAuditeur.controls['confirm_mot_de_passe_auditeur'].touched)">
                                        <div *ngIf="FormAjouterAuditeur.controls['confirm_mot_de_passe_auditeur'].hasError('required')"
                                            class="text-danger" style="font-size: small;">Veuillez confirmer votre mot
                                            de passe
                                        </div>

                                        <div *ngIf="FormAjouterAuditeur.controls['confirm_mot_de_passe_auditeur'].hasError('different')"
                                            class="text-danger" style="font-size: small;">Les mots de passe ne sont pas
                                            identiques
                                        </div>
                                    </div>
                                    <!-- Fin Controle de saisie-->

                                </div>


                                <div class="mb-4">
                                    <!--
                      <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="remember" required>
                        <label class="form-check-label" for="remember">
                          I agree to the <a href="terms.html">Terms and Conditions</a>
                        </label>
                      </div>
                      -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Envoyer<svg
                                                xmlns="http://www.w3.org/2000/svg" class="ms-1" width="1.2rem"
                                                height="1.2rem" fill="currentColor" viewBox="0 0 512 512">
                                                <path
                                                    d="M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                                <polyline points="288 336 368 256 288 176"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                                <line x1="80" y1="256" x2="352" y2="256"
                                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                            </svg></button>
                                    </div>
                                    <div *ngIf="FormAjouterAuditeur.invalid && FormAjouterAuditeur.untouched && tryToSubmitAuditeur"
                                        class="text-danger" style="font-size: small;">Les champs
                                        sont vides !
                                    </div>




                                </div>
                            </form>

                            <!-- FIN formulaire auditeur-->
                            <div class="mt-3">
                                <p class="text-center mb-4"><span>Or</span></p>
                                <div class="text-center mb-4">
                                    <a class="btn btn-social btn-facebook text-white mb-3 mb-xl-0 me-3" href="#">
                                        <!-- <i class="fab fa-facebook"></i> -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="1.5rem"
                                            height="1.5rem" fill="currentColor" viewBox="0 0 512 512">
                                            <path
                                                d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z" />
                                        </svg>
                                        Join with FB
                                    </a>
                                    <a class="btn btn-social btn-twitter text-white mb-3 mb-xl-0" href="#">
                                        <!-- <i class="fab fa-twitter"></i> -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="1.5rem"
                                            height="1.5rem" fill="currentColor" viewBox="0 0 512 512">
                                            <path
                                                d="M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z" />
                                        </svg>
                                        Join with Twitter
                                    </a>
                                </div>
                                <p class="text-center">Vous disposez déjà d'un compte Auditeur ?<a href="login.html">Se
                                        connecter</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Contact Form -->
</main><!-- end main -->

<!-- =========={ FOOTER }==========  -->
<footer class="bg-secondary">
</footer><!-- End Footer -->

<!-- =========={ SCROLL TO TOP }==========  -->
<a href="#top" class="p-3 border bg-body position-fixed end-1 bottom-1 z-index-10 back-top" title="Scroll To Top">
    <!-- <i class="fas fa-arrow-up"></i> -->
    <svg class="bi bi-arrow-up" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd"
            d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z"
            clip-rule="evenodd"></path>
    </svg>
</a>