
<form (ngSubmit)="onSubmit()" #classificationForm="ngForm">
  <div class="form-group">
    <label>matriculeUtilisateur</label>
    <input type="text" class="form-control" placeholder="matriculeUtilisateur" id="matriculeUtilisateur"
           [(ngModel)]="classification.matriculeUtilisateur" name="matriculeUtilisateur" required>
    <!-- Validation message -->
    <div *ngIf="classificationForm.controls['matriculeUtilisateur'].errors?.['required'] && (classificationForm.controls['matriculeUtilisateur'].dirty || classificationForm.controls['matriculeUtilisateur'].touched)">
      <span class="text-danger">Ce champ est requis.</span>
  </div>
  
  <!-- Répétez le même modèle pour les autres champs -->
  
</div>
                          
   <div class="form-group">
      <label>fichierPreuveClassification</label>
      <input type="file" class="form-control" placeholder="fichierPreuveClassification" onchange=""
             id="fichierPreuveClassification" multiple [(ngModel)]="classification.fichierPreuveClassification"
             name="fichierPreuveClassification" required>
      <!-- Validation message -->
      <div *ngIf="classificationForm.controls['fichierPreuveClassification'].invalid && (classificationForm.controls['fichierPreuveClassification'].dirty || classificationForm.controls['fichierPreuveClassification'].touched)">
          <span class="text-danger">Ce champ est requis.</span>
      </div>
   </div>

  <div class="form-group">
      <label>etiquetteClassification</label>
      <input type="text" class="form-control" placeholder="etiquetteClassification" id="etiquetteClassification"
             [(ngModel)]="classification.etiquetteClassification" name="etiquetteClassification" required>
      <!-- Validation message -->
      <div *ngIf="classificationForm.controls['etiquetteClassification'].invalid && (classificationForm.controls['etiquetteClassification'].dirty || classificationForm.controls['etiquetteClassification'].touched)">
          <span class="text-danger">Ce champ est requis.</span>
      </div>
  </div>

  <div class="form-group">
    <label for="fichierPreuveClassification">Fichier Preuve Classification</label>
    <input type="file" class="form-control" 
           name="fichierPreuveClassification" 
           id="fichierPreuveClassification" 
           (change)="onUploadFiles($event)" 
           multiple 
           [(ngModel)]="classification.fichierPreuveClassification" 
           required>
    <!-- Validation message -->
    <div *ngIf="classificationForm.controls['fichierPreuveClassification'].invalid && (classificationForm.controls['fichierPreuveClassification'].dirty || classificationForm.controls['fichierPreuveClassification'].touched)">
        <span class="text-danger">Ce champ est requis.</span>
    </div>
  </div>
      
      
  

  <div class="form-group">
      <label for="dateClassification">Date et heure de classification</label>
      <input type="datetime-local" class="form-control" id="dateClassification"
             [(ngModel)]="classification.dateClassification" name="dateClassification" required>
      <!-- Validation message -->
      <div *ngIf="classificationForm.controls['dateClassification'].invalid && (classificationForm.controls['dateClassification'].dirty || classificationForm.controls['dateClassification'].touched)">
          <span class="text-danger">Ce champ est requis.</span>
      </div>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="classificationForm.invalid">Submit</button>
</form>
